{% load static %}

<!doctype html>
<html lang="en">
    {% include "includes/head.html" %}

    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include "includes/header.html" %}

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">
                <!--- Sidemenu -->
                {% include "includes/sidebar.html" %}
                <!-- Sidebar -->
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                
                        {% block content %}
                        {% endblock %}
                
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% block modal %}
                {% endblock %}
                {% include "includes/footer.html" %}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

        <!-- select2 -->
        <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
        <!-- bootstrap-datepicker js -->

        <!-- Required datatable js -->
        <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- init js -->
        <script src="{% static 'assets/js/pages/crypto-orders.init.js' %}"></script>

        
        <!-- apexcharts -->
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- dashboard init -->
        <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>

        <!-- bootstrap datepicker -->
        <script src="{% static 'assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        
        <script src="{% static 'assets/libs/parsleyjs/parsley.min.js' %}"></script>
        
        <script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>

        <!--repeater-->
        <script src="{% static 'assets/libs/jquery.repeater/jquery.repeater.min.js' %}"></script>

        <script src="{% static 'assets/js/pages/form-repeater.int.js' %}"></script>

        <!-- dropzone plugin -->
        <script src="{% static 'assets/libs/dropzone/min/dropzone.min.js' %}"></script>


        <!-- Plugins js -->
        <script src="{% static 'assets/libs/bootstrap-editable/js/index.js' %}"></script>
        <script src="{% static 'assets/libs/moment/min/moment.min.js' %}"></script>

        <!-- Init js-->
        <script src="{% static 'assets/js/pages/form-xeditable.init.js' %}"></script>     
        
        <script src="{% static 'assets/js/app.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
