<nav class="mainmenu mobile-menu">
    <ul>
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'rooms' %}">Rooms</a></li>
        <li><a href="{% url 'about-us' %}">About Us</a></li> 
        <li><a href="{% url 'whattosee' %}">What to See?</a>
            {% comment %} <ul class="dropdown">
                <li><a href="./room-details.html">Room Details</a></li>
                <li><a href="#">Deluxe Room</a></li>
                <li><a href="#">Family Room</a></li>
                <li><a href="#">Premium Room</a></li>
            </ul> {% endcomment %}
        </li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>
</nav>